body{
    height: 842px;
    width: 595px;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;

    background-image: url(cv4.jpeg)

    
   
}


main{
    width: 50%;
    float: right;
    text-align: center;
    
}
article{
    width: 50%;
    float: right;
    text-align: center;
}
header{
    width: 50%;
    float: left;
    text-align: center;
    
}




img{
    
    display: block;
    margin: auto;
    width: 300px;
    padding: 3rem;
    
    
    
    
    
}




hr{
    
    width: 283px;
    
}


